#container{
    padding:5px;
    margin: 0 auto ;
    width: 800px;
    background-color: #fefdff;
    text-transform: uppercase;
}
#headerr{
    width: 100%;
    height: 360px;
    border-bottom: 2px solid black;
}
#header #gbr{
    width: 50px;
}
.list{
    width: 100%;
    border-collapse: collapse;
}
